                                      Mini Project - Python
                                Asset Management Company Dataset

Introduction

The Objective is to identify the best countries and a suitable investment type for making the investment. The overall strategy is to invest where others are investing, implying that the best countries are the ones ‘where most investors are investing’.

Data Description
This is real investment data taken from crunchbase.com

Data Dictionary
Companies Details
Attributes
Description
Permalink
Unique ID of Companies
name
name of Companies
homeurl_page
Website URL
Category_list
Categories to which company belong
Status
Operational Status
country_code
country_code
state_code
state
rounds2
Attributes
Description
company_permalink
Unique ID of company
funding_round_permalink
Unique ID of funding round
funding_round_type
Type of funding - Venture,angel, private equity
funding_round_code
Round of venture funding (round A,B..)
Funding_at
Date of funding
raised_amount_usd
Money raised in funding (USD)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Answer the below questions -
1. Reading the Rounds2, companies.txt files.

In [9]:
df_rounds = pd.read_csv(r'C:\Users\Selva Jenner\Desktop\python\ITP Project\Project 2\Dataset\rounds2.csv',encoding='ANSI')
df_rounds.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [123]:
companies = pd.read_csv(r'C:\Users\Selva Jenner\Desktop\python\ITP Project\Project 2\Dataset\companies (1).txt', delimiter='\t', header=None, names=['permalink','name','homepage_url','category_list','status','country_code','state_code','region','city','founded_at'])
companies.drop(0, axis=0,inplace =True)

2. How many unique companies are present in rounds2?

In [124]:
df_rounds['company_permalink'] = df_rounds['company_permalink'].str.lower()

In [125]:
df_rounds['company_permalink'].duplicated().value_counts()

False    66368
True     48581
Name: company_permalink, dtype: int64

In [126]:
df_rounds[~ df_rounds['company_permalink'].duplicated()]

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
...,...,...,...,...,...,...
114941,/organization/zznode-science-and-technology-co...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0
114942,/organization/zzzzapp-com,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,7000.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/ã”asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

3. How many unique companies are present in the companies file?

In [127]:
companies.permalink.isna().sum()   #checking for null values

0

In [128]:
companies.permalink.nunique()

66368

4. Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.

In [129]:
companies['permalink'] = companies['permalink'].str.upper()
df_rounds['company_permalink'] = df_rounds['company_permalink'].str.upper()

In [130]:
df_rounds['company_permalink'].head()

0                    /ORGANIZATION/-FAME
1                 /ORGANIZATION/-QOUNTER
2                 /ORGANIZATION/-QOUNTER
3    /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                  /ORGANIZATION/0-6-COM
Name: company_permalink, dtype: object

In [131]:
companies['permalink'].tail()

66364    /ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...
66365                            /ORGANIZATION/ZZZZAPP-COM
66366                                 /ORGANIZATION/ÃERON
66367                               /ORGANIZATION/Ã”ASYS-2
66368    /ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...
Name: permalink, dtype: object


5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [140]:
#np.where(df1['price_1'] == df2['price_2'], 'True', 'False')
companies['permalink'] .equals(df_rounds['company_permalink'])

False

In [139]:
#method2
temp1 = pd.DataFrame(df_rounds.company_permalink.unique())
temp2 = pd.DataFrame(companies.permalink.unique())
temp2.equals(temp1)

False

6. Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?

In [147]:
master_dataframe = pd.merge(left = df_rounds, right = companies, left_on = 'company_permalink' , right_on = 'permalink' )
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114946 entries, 0 to 114945
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114946 non-null  object
 1   funding_round_permalink  114946 non-null  object
 2   funding_round_type       114946 non-null  object
 3   funding_round_code       31139 non-null   object
 4   funded_at                114946 non-null  object
 5   raised_amount_usd        94957 non-null   float64
 6   permalink                114946 non-null  object
 7   name                     114945 non-null  object
 8   homepage_url             108812 non-null  object
 9   category_list            111538 non-null  object
 10  status                   114946 non-null  object
 11  country_code             106270 non-null  object
 12  state_code               104002 non-null  object
 13  region                   104781 non-null  object
 14  city                     104784 non-null  object
 15  founded_at               94425 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

7. Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [150]:
master_dataframe.drop(columns = 'company_permalink',axis = 1, inplace = True )

In [151]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114941,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114942,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114943,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114944,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
114945,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [157]:
master_dataframe.isna().sum() / len(master_dataframe) *100

funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909888
funded_at                   0.000000
raised_amount_usd          17.389905
permalink                   0.000000
name                        0.000870
homepage_url                5.336419
category_list               2.964870
status                      0.000000
country_code                7.547892
state_code                  9.520992
region                      8.843283
city                        8.840673
founded_at                 17.852731
dtype: float64

In [160]:
#dropped column region.
master_dataframe.drop(columns = ['region'],inplace =True)

In [161]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114941,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,13-05-2012
114942,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,13-05-2012
114943,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,01-01-2011
114944,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,San Francisco,01-01-2014
114945,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories..

In [185]:
df_rounds

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/Ã”ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [183]:
master_dataframe.pivot_table(index = 'funding_round_code' ,values ='raised_amount_usd', columns = 'funding_round_type', aggfunc = ['mean','median'])

                            mean                                  \
funding_round_type         angel convertible_note debt_financing
funding_round_code
A                   1.729119e+06     1.533333e+06            NaN
B                            NaN     3.500000e+06      9000000.0
C                            NaN              NaN            NaN
D                            NaN              NaN      5000000.0
E                            NaN              NaN     34467000.0
F                            NaN              NaN            NaN
G                            NaN              NaN            NaN
H                            NaN              NaN            NaN

                                                                              \
funding_round_type post_ipo_equity private_equity          seed  undisclosed
funding_round_code
A                              NaN     32950586.5  3.531744e+06   6972039.25
B                        5832264.0            NaN  1.617500e+06  14920766.00
C                              NaN     25000000.0  9.250000e+05          NaN
D                              NaN            NaN           NaN          NaN
E                              NaN            NaN           NaN          NaN
F                              NaN            NaN           NaN          NaN
G                              NaN            NaN           NaN          NaN
H                              NaN     50000000.0           NaN          NaN

                                     median                                  \
funding_round_type       venture      angel convertible_note debt_financing
funding_round_code
A                   6.994578e+06  1306921.0        1300000.0            NaN
B                   1.467285e+07        NaN        3500000.0      9000000.0
C                   2.139386e+07        NaN              NaN            NaN
D                   3.059975e+07        NaN              NaN      5000000.0
E                   4.612740e+07        NaN              NaN     34467000.0
F                   5.337636e+07        NaN              NaN            NaN
G                   7.697175e+07        NaN              NaN            NaN
H                   1.488273e+08        NaN              NaN            NaN

                                                                          \
funding_round_type post_ipo_equity private_equity       seed undisclosed
funding_round_code
A                              NaN     32950586.5  2000000.0   6000000.0
B                        5832264.0            NaN  1500000.0  14920766.0
C                              NaN     25000000.0   925000.0         NaN
D                              NaN            NaN        NaN         NaN
E                              NaN            NaN        NaN         NaN
F                              NaN            NaN        NaN         NaN
G                              NaN            NaN        NaN         NaN
H                              NaN     50000000.0        NaN         NaN


funding_round_type     venture
funding_round_code
A                    4200000.0
B                   10000000.0
C                   14800000.0
D                   18000000.0
E                   20000000.0
F                   25000000.0
G                   26000000.0
H                   40000000.0

10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [186]:
master_dataframe[(master_dataframe.raised_amount_usd == 4000000) & (master_dataframe.raised_amount_usd <=15000000)]

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,city,founded_at
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,01-01-2013
135,/funding-round/56195451074439e1f61fb0165d50eea1,venture,A,15-10-2015,4000000.0,/ORGANIZATION/17HATS,17hats,https://www.17hats.com,Internet,operating,USA,CA,Los Angeles,01-01-2014
172,/funding-round/8f6baef2e6c54477fe0e91a2936d0f0f,venture,A,16-09-2014,4000000.0,/ORGANIZATION/1JIAJIE,1jiajie,http://www.1jiajie.com,E-Commerce,operating,CHN,22,Beijing,NaN
265,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,NaN,06-11-2007,4000000.0,/ORGANIZATION/247-LEARNING-PRIVATE,24x7 Learning,http://www.24x7learning.com,EdTech|Education|Systems,operating,IND,19,Bangalore,01-01-2001
320,/funding-round/fe04a765d360501d4bde70db05c3bd58,venture,NaN,09-01-2015,4000000.0,/ORGANIZATION/2LEMETRY,2lemetry,http://2lemetry.com,Internet of Things|M2M|Software,acquired,USA,CO,Denver,01-09-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114454,/funding-round/f483f6384140992ffb58fbce7fdd2201,venture,A,01-07-2007,4000000.0,/ORGANIZATION/ZLIO,Zlio,http://zlio.com,E-Commerce,closed,FRA,A8,Paris,01-11-2005
114622,/funding-round/f384cb9a0e6ed7d9ac8a2738cb2c919f,venture,NaN,02-03-2012,4000000.0,/ORGANIZATION/ZOONA,Zoona,http://www.ilovezoona.com,FinTech|Mobile,operating,ZAF,NaN,Cape Town,01-01-2009
114732,/funding-round/a5b2e1e4289c37682e9f7dc64cc563fa,venture,A,23-07-2007,4000000.0,/ORGANIZATION/ZTAR-MOBILE,Ztar Mobile,http://www.ztarmobile.com/,Billing|Mobile Commerce|Wireless,operating,USA,TX,Mansfield,NaN
114736,/funding-round/82e69c7402775b9868a4bdf8653ac841,venture,A,24-11-2008,4000000.0,/ORGANIZATION/ZUBERANCE,Zuberance,http://www.zuberance.com,Advertising|Direct Marketing|Sales and Marketi...,operating,USA,CA,San Carlos,01-02-2007
114770,/funding-round/4ef9948f558ce339de721a6f3bd0fba1,venture,A,11-05-2015,4000000.0,/ORGANIZATION/ZUMAN,Zuman,http://www.zuman.com,Business Services|Health and Insurance|Human R...,operating,USA,CA,Pleasanton,05-09-2013

11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [220]:
high_inv = master_dataframe[(master_dataframe['funding_round_type'] == 'venture')].pivot_table(values = 'raised_amount_usd', index = 'country_code', aggfunc = 'sum')

In [234]:
high_inv.sort_values(by = 'raised_amount_usd',ascending= False).iloc[:9,0]

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

12. Create the ‘main_category’ column by extracting the first value using the column ‘category_list’.
Hint - Use the Lambda function or string function.

In [238]:
master_dataframe['main_category'] = master_dataframe['category_list'].str.split('|').str[0]
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,Delaware City,04-09-2014,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,Delaware City,04-09-2014,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,01-01-2007,Curated Web
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114941,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,13-05-2012,Advertising
114942,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,13-05-2012,Advertising
114943,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,01-01-2011,NaN
114944,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,San Francisco,01-01-2014,Consumer Electronics
114945,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,Consumer Goods

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow-

a) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC.

In [241]:
def cat(x):
    if x < 5000000:
        x = 'TypeA'
    elif x >= 5000000 and x < 7000000:
        x = 'TypeB'
    elif x >= 7000000:
        x = 'TypeC'
    return x
master_dataframe.raised_amount_usd = master_dataframe.raised_amount_usd.apply(cat)

In [243]:
master_dataframe.raised_amount_usd.value_counts()

TypeA    64398
TypeC    24227
TypeB     6332
Name: raised_amount_usd, dtype: int64

                                             Gracias